@model GroceryApp.Models.Domain.Unit

@{
    ViewBag.Title = "Delete";
}

<div id="title">
                <h1>Sharon's Grocery Store</h1>
             <strong> Number of Visits : @HttpContext.Current.Application["Visits"] </strong> |
             <strong> Your IP Address is : @Session["IPAddress"].ToString() </strong> |  @Html.Partial("_LogOnPartial") 
           
                
            </div>

             
               
            

 <div id="menucontainer">

                
                 <strong> @Html.ActionLink("Home", "Index", "Home") </strong> |
                 <strong> @Html.ActionLink("About", "About", "Home") </strong> |
                 <strong> @Html.ActionLink("Products", "Index", "Product") </strong> |
                 <strong> @Html.ActionLink("Suppliers", "Index", "Supplier")</strong> |
                 <strong> @Html.ActionLink("Categories", "Index", "Category") </strong> |
                 <strong>@Html.ActionLink("Parishes", "Index", "Parish") </strong> |
                  <strong>@Html.ActionLink("Units", "Index", "Unit") </strong> |
                    
            </div>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Unit</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
