@model IEnumerable<GroceryApp.Models.Domain.Unit>

@{
    ViewBag.Title = "Index";
}
<div id="title">
                <h1>Sharon's Grocery Store</h1>
             <strong> Number of Visits : @HttpContext.Current.Application["Visits"] </strong> |
             <strong> Your IP Address is : @Session["IPAddress"].ToString() </strong> |  @Html.Partial("_LogOnPartial") 
           
                
            </div>

             
               
            

 <div id="menucontainer">

                
                 <strong> @Html.ActionLink("Home", "Index", "Home") </strong> |
                 <strong> @Html.ActionLink("About", "About", "Home") </strong> |
                 <strong> @Html.ActionLink("Products", "Index", "Product") </strong> |
                 <strong> @Html.ActionLink("Suppliers", "Index", "Supplier")</strong> |
                 <strong> @Html.ActionLink("Categories", "Index", "Category") </strong> |
                 <strong>@Html.ActionLink("Parishes", "Index", "Parish") </strong> |
                  <strong>@Html.ActionLink("Units", "Index", "Unit") </strong> |
                    
            </div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UnitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UnitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UnitID })
        </td>
    </tr>
}

</table>
