@model GroceryApp.Models.Domain.Supplier

@{
    ViewBag.Title = "Details";
}
<div id="title">
                <h1>Sharon's Grocery Store</h1>
             <strong> Number of Visits : @HttpContext.Current.Application["Visits"] </strong> |
             <strong> Your IP Address is : @Session["IPAddress"].ToString() </strong> |  @Html.Partial("_LogOnPartial") 
           
                
            </div>

             
               
            

 <div id="menucontainer">

                
                 <strong> @Html.ActionLink("Home", "Index", "Home") </strong> |
                 <strong> @Html.ActionLink("About", "About", "Home") </strong> |
                 <strong> @Html.ActionLink("Products", "Index", "Product") </strong> |
                 <strong> @Html.ActionLink("Suppliers", "Index", "Supplier")</strong> |
                 <strong> @Html.ActionLink("Categories", "Index", "Category") </strong> |
                 <strong>@Html.ActionLink("Parishes", "Index", "Parish") </strong> |
                  <strong>@Html.ActionLink("Units", "Index", "Unit") </strong> |
                    
            </div>

<h2>Details</h2>

<fieldset>
    <legend>Supplier</legend>

     <div class="display-label">SupplierCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SupplierCode)
    </div>

    <div class="display-label">SupplierName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SupplierName)
    </div>

    <div class="display-label">StreetAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StreetAddress)
    </div>

    <div class="display-label">Parish</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parish.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SupplierCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
